mixin sPress(data)
	// start sPress
	+b.SECTION.sPress.section.pt-0#sPress&attributes(attributes)
		.container
			+b.section-title
				h1 Пресс-центр
			+e.row.row
				.col-lg-8
					+e.content
						p Разнообразный и богатый опыт консультация с профессионалами из IT обеспечивает актуальность системы обучения кадров, соответствующей насущным потребностям. Разнообразный и богатый опыт повышение уровня гражданского сознания напрямую зависит от всесторонне сбалансированных нововведений. С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу специалистов участие в формировании соответствующих условий активизации.
						p Дорогие друзья, постоянное информационно-техническое обеспечение нашей деятельности способствует повышению актуальности позиций, занимаемых участниками в отношении поставленных задач?
						ul
							li удостоверение соответствия объектов сертификации техническим регламентам, документам по стандартизации, условиям договоров;
							li подтверждение функциональных показателей, а также показателей качества продукции, представленных заявителем на сертификацию;
							li содействие приобретателям, в том числе потребителям, в компетентном выборе продукции, работ (услуг);
				.col-lg-4
					+e.gray-box
						+e.g-title Пресс-кит
						+e.items-row.row
							+sPressItem('pdf', 'Общая информация об Ассоциации строительных организаций газовой отрасли ')
							+sPressItem('pdf', 'Презентация основных направлений деятельности Ассоциации строительных организаций газовой отрасли ')
							+sPressItem('pdf', 'Руководство по использованию фирменного стиля')
							+sPressItem('ai', 'Логотип АСОГО')
						+e.g-title Контактные данные пресс-службы
						+e.contact-row.row
							+sPressContactItem({
								iconName: 'call',
								title: 'По вопросам сертификации',
								href: 'tel:84953691224',
								linkTxt: '8(495) 369-12-24',
							})
							+sPressContactItem({
								iconName: 'mail',
								title: 'По всем вопросам',
								href: 'mailto:asogo@asogo.ru',
								linkTxt: 'asogo@asogo.ru',
							})
	// end sPress

mixin sPressContactItem(data)
	.col-md-6.col-lg-12
		+e.c-item
			+e.c-row.row
				+e.c-col--icon.col-auto
					+icon(data.iconName)
				+e.c-col--txt.col
					+e.c-title=data.title
					+e.c-link(href=data.href)=data.linkTxt

mixin sPressItem(imgName='', txt)
	.col-md-6.col-lg-12
		+e.item.d-block(href="#")
			+e.i-row.row.align-items-lg-center
				+e.i-col--img.col-auto
					img(loading="lazy" src=`img/svg/${imgName}.svg` alt="")
				+e.i-col--txt.col=txt
					//-ai
					//-pdf