.footer {
	margin-top: auto;

	&.has-bt{
		--bt-color: #{rgba($blue2, .5)};
	}

	&__container{
		@include media-breakpoint-up(base){
			padding-right: rem(25);
		}
		&:before{
			content: '';
			display: block;

			border-top: 1px solid var(--bt-color, transparent);

			margin-bottom: rem(25);
			@include media-breakpoint-up(md){
				margin-bottom: rem(34);
			}
			@include media-breakpoint-up(lg){
				margin-bottom: rem(60);
			}
			@include media-breakpoint-up(base){
				margin-bottom: rem(117);
			}
		}
	}
	&__row{
		--bs-gutter-y: #{rem(30)};

		--bs-gutter-x: #{rem(24)};
		margin-bottom: rem(30px);
		@include media-breakpoint-up(lg){
			--bs-gutter-x: #{rem(40)};
			margin-bottom: rem(40px);
		}
		@include media-breakpoint-up(xxl){
			--bs-gutter-x: #{rem(60)};
			margin-bottom: rem(78px);
		}
		@include media-breakpoint-up(base){
			--bs-gutter-x: #{rem(24)};
		}
	}
	&__col{
		@include media-breakpoint-between(xl, base){
			max-width: 28% !important;
		}
	}
	&__menu{
		ul{
			padding: 0;
			margin: 0 rem(-10) 0 0;
			list-style: none;

			li{
				margin-bottom: rem(17);
				@include media-breakpoint-up(xxl){
					margin-bottom: rem(21);
				}
				&:last-child{
					margin-bottom: 0;
				}

				a{
					font-size: rem(14);
					line-height: calc(17/14);
					@include media-breakpoint-up(lg){
						font-size: rem(16);
						line-height: calc(22/18);
					}
					@include media-breakpoint-up(xxl){
						font-size: rem(18);
					}
					color: $gray-710;
				}
			}
		}
	}

	//-
	&__tell{
		display: inline-block;
		color: $gray-910;

		font-size: rem(24);
		margin-bottom: rem(12);
		@include media-breakpoint-up(md){
			margin-top: 5px;
			margin-bottom: rem(15);
			line-height: 1.2;
			font-size: rem(24);
		}
		@include media-breakpoint-up(lg){
			margin-top: 0;
			margin-bottom: rem(18);
			line-height: 1;
			font-size: rem(32);
		}

		@include media-breakpoint-up(base){
			position: relative;
			top: -4px;
		}
	}
	&__mail{
		display: inline-block;

		font-size: rem(14);
		margin-bottom: rem(22);
		@include media-breakpoint-up(lg){
			font-size: rem(18);
			margin-bottom: rem(32);
		}
		line-height: 1.2;
		color: $blue;

	}
	&__address{
		max-width: 223px;
		@include media-breakpoint-up(sm){
			max-width: 100%;
		}

		font-size: rem(12);
		@include media-breakpoint-up(lg){
			font-size: rem(14);
		}
		line-height: 1.2;
		color: $gray-710;
	}

	//-
	&__bot{
		padding: 0 0 rem(30) 0;
		@include media-breakpoint-up(xxl){
			padding:0 0 rem(40) 0;
		}
		@include media-breakpoint-up(base){
			padding: 0 0 rem(69);
		}
		&:before{
			content: '';
			display: block;

			border-top: 1px solid rgba($blue2, .5);
			margin-bottom: rem(23);
			@include media-breakpoint-up(xl){
				margin-bottom: rem(40);
			}
			@include media-breakpoint-up(base){
				margin-bottom: rem(69);
			}
		}
	}
	&__bot-row{
		--bs-gutter-y: 10px;
	}
	&__all-rights{
		max-width: 90%;
		@include media-breakpoint-up(sm){
			max-width: 100%;
		}

		font-size: rem(10);
		line-height: 1.2;
		@include media-breakpoint-up(lg){
			font-size: rem(14);
			line-height: calc(17/14);
		}
		color: $gray-710;
	}
	&__policy{
		display: inline-block;
		font-size: rem(10);
		line-height: 1.2;
		@include media-breakpoint-up(lg) {
			font-size: rem(14);
			line-height: 1.2;
		}
	}
	&__{}
	&__{}
}
