mixin footer()
	+b.FOOTER.footer&attributes(attributes)
		+e.container.container
			+e.row.row
				.col-6.col-md-3.col-base-2
					+e.menu
						ul
							li: a(href="#") Об АСОГО
							li: a(href="#") Новости
							li: a(href="#") Обучение
							li: a(href="#") Новости
				.col-6.col-md-3.col-base-2
					+e.menu
						ul
							li: a(href="#") Пресс-центр
							li: a(href="#") Членство
							li: a(href="#") Сертификация
							li: a(href="#") Партнеры
				.col-md.text-md-end
					div
						+e.tell(href="tel:84953691224") 8(495) 369-12-24
					+e.mail(href="#") office@asogo.ru
					+e.address 119415, г. Москва, проспект Вернадского, д. 41, стр. 1
			+e.bot
				+e.bot-row.row.align-items-center
					.col-md
						+e.all-rights ©2021 Ассоциация строительных организаций газовой отрасли
					.col-md-auto
						+e.policy(href="#") Политика конфиденциальности