mixin sCert(data)
	// start sCert
	+b.SECTION.sCert.section#sCert&attributes(attributes)
		.container
			+e.box
				+pic('sContact-bg.png')(class="sCert__bg d-none d-md-block")
				+b.section-title
					h2 Сертификация в&#160;СДС ИНТЕРГАЗСЕРТ
					p Описнаие разделала для анотации и побуждения перехода в него. АО «Мессояханефтегаз» – совместное предприятие ПАО «Газпром нефть» и ПАО «НК «Роснефть»,
				+e.btn(href="#") Подробнее
				+pic('sContact-cert2.png')(class="sCert__img d-none d-md-flex")
	// end sCert