
mixin modal() 
	//  start modals
	//a(href="modal-call").link-modal-js modal-call
	div(id="modal-access"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title Доступ только для членов АСОГО
					+e.title-sub Пожалуйста, введите Логин и пароль для входа

				+input("Введите",'email','Ваш логин (e-mail)')
				+input("Введите",'password','Пароль')
				.row
					.col-auto
						button.btn.btn-lg.btn-outline-primary(type="submit"  )  Войти
					.col-auto
						a.btn.btn-lg.btn-link(href="#")  Забыли пароль?
	// #modal-access
	div(id="modal-info"  style="display: none" )
		+b.modal-win--info
			mixin info(t,p)
				+b.info-item
					+e.title= t 
					p= p
						block
			+info(`Полное наименование организации`,`Некоммерческая организация учреждение «Сертификационный центр «ВНИИГАЗ -Сертификат»`)
			+info(`Краткое наименование организации`,`НОУ «СЦ «ВНИИГАЗ-Сертификат»`)
			+info(`Юридический адрес`,`Российская Федерация, 142717, Московская обл., Ленинский р-он, пос. Развилка, ВНИИГАЗ`)
			+info(`Полное наименование органа по сертификации (ОС)`,`Орган по сертификации СМК НОУ «СЦ «ВНИИГАЗ-Сертификат»`)
			+info(`Краткое наименование ОС`,`ОС СМК НОУ «СЦ «ВНИИГАЗ-Сертификат»`)
			+info(`Направление деятельности ОС`,`система менеджмента качества`)
			+info(`Руководитель ОС`,`система менеджмента качества`)
			+info(`Рег. номер свидетельства ОС`,`система менеджмента качества`)
			+info(`Срок действия свидетельства ОС`,`ОС СМК НОУ «СЦ «ВНИИГАЗ-Сертификат»`)
			+info(`Контактная информация ОС`,``)
				a.text-body(href="tel:+7(498)657-45-18") +7(498)657-45-18
				| ;
				br
				a.text-body(href="mailto:info@vniigaz-cert.ru") info@vniigaz-cert.ru
			+info(`ЦОС`,`Системы менеджмента (рег. № ОГН1)`)
			+info(`Примечание`,`-`)
	// #modal-info
	
	// end modals