mixin sMembers(data)
	// start sMembers
	+b.SECTION.sMembers.section#sMembers(class=`${data.addClasses || ''}`)&attributes(attributes)
		if data.bg
			+pic('sMembers-bg.png')(class="sMembers__bg")
		.container
			+b.section-title
				h2 Члены АСОГО
			+e.row.row
				.col-lg-9
					+e.title Дочерние Общества ПАО «Газпром»
					+e.links--3
						a(href="#") ПАО "Газпром трансгаз Волгоград"
						a(href="#") ПАО "Газпром трансгаз Грозный"
						a(href="#") ПАО "Газпром трансгаз Екатеринбург"
						a(href="#") ПАО "Газпром трансгаз Казань"
						a(href="#") ПАО "Газпром трансгаз Краснодар"
						a(href="#") ПАО "Газпром трансгаз Махачкала"
						a(href="#") ПАО "Газпром трансгаз Москва"
						a(href="#") ПАО "Газпром трансгаз Нижний Новгород"
						a(href="#") ПАО "Газпром трансгаз Чайковский"
						a(href="#") ПАО "Газпром трансгаз Самара"
						a(href="#") ПАО "Газпром трансгаз Санкт Петербург"
						a(href="#") ПАО "Газпром трансгаз Саратов"
						a(href="#") ПАО "Газпром трансгаз Ставрополь"
						a(href="#") ПАО "Газпром трансгаз Сургут"
						a(href="#") ПАО "Газпром трансгаз Томск"
						a(href="#") ПАО "Газпром трансгаз Уфа"
						a(href="#") ПАО "Газпром трансгаз Ухта"
						a(href="#") ПАО "Газпром трансгаз Югорск"
						a(href="#") ПАО "Газпром Инвест"
						a(href="#") ПАО "Газпром социнвест"
						a(href="#") ПАО "Газпром переработка"
						a(href="#") ПАО "Газпром Газпромтранс"
						a(href="#") ПАО "Газпром трансгаз Беларусь"
						a(href="#") ПАО "Газпром Армения"
						a(href="#") ПАО "Газпром добыча Надым”
						a(href="#") ПАО "Газпром добыча Иркутск”
						a(href="#") ПАО "Газпром добыча Краснодар”
						a(href="#") ПАО "Газпром добыча Ноябрьск”
						a(href="#") ПАО "Газпром добыча Уренгой”
						a(href="#") ПАО "Газпром добыча Ямбург”
						a(href="#") ПАО "Газпром добыча шельф Южно-Сахалинск”
				.col-lg-3
					+e.title Генподрядные строительные организации:
					+e.links--1
						a(href="#") Газстройпром
						a(href="#") Стройгазмонтаж
						a(href="#") СтройТрансНефтеГаз
	// end sMembers