mixin sMembers(data)
	// start sMembers
	+b.SECTION.sMembers.section#sMembers(class=`${data.addClasses || ''}`)&attributes(attributes)
		if data.bg
			+pic('sMembers-bg.png')(class="sMembers__bg")
		.container
			+b.section-title
				if data.title
					h2=data.title
				else
					h2 Члены АСОГО
			+e.row.row
				.col-lg-9
					+e.title Дочерние Общества ПАО «Газпром»
					+e.UL.links--3
						li: a(href="#") ПАО "Газпром трансгаз Волгоград"
						li: a(href="#") ПАО "Газпром трансгаз Грозный"
						li: a(href="#") ПАО "Газпром трансгаз Екатеринбург"
						li: a(href="#") ПАО "Газпром трансгаз Казань"
						li: a(href="#") ПАО "Газпром трансгаз Краснодар"
						li: a(href="#") ПАО "Газпром трансгаз Махачкала"
						li: a(href="#") ПАО "Газпром трансгаз Москва"
						li: a(href="#") ПАО "Газпром трансгаз Нижний Новгород"
						li: a(href="#") ПАО "Газпром трансгаз Чайковский"
						li: a(href="#") ПАО "Газпром трансгаз Самара"
						li: a(href="#") ПАО "Газпром трансгаз Санкт Петербург"
						li: a(href="#") ПАО "Газпром трансгаз Саратов"
						li: a(href="#") ПАО "Газпром трансгаз Ставрополь"
						li: a(href="#") ПАО "Газпром трансгаз Сургут"
						li: a(href="#") ПАО "Газпром трансгаз Томск"
						li: a(href="#") ПАО "Газпром трансгаз Уфа"
						li: a(href="#") ПАО "Газпром трансгаз Ухта"
						li: a(href="#") ПАО "Газпром трансгаз Югорск"
						li: a(href="#") ПАО "Газпром Инвест"
						li: a(href="#") ПАО "Газпром социнвест"
						li: a(href="#") ПАО "Газпром переработка"
						li: a(href="#") ПАО "Газпром Газпромтранс"
						li: a(href="#") ПАО "Газпром трансгаз Беларусь"
						li: a(href="#") ПАО "Газпром Армения"
						li: a(href="#") ПАО "Газпром добыча Надым”
						li: a(href="#") ПАО "Газпром добыча Иркутск”
						li: a(href="#") ПАО "Газпром добыча Краснодар”
						li: a(href="#") ПАО "Газпром добыча Ноябрьск”
						li: a(href="#") ПАО "Газпром добыча Уренгой”
						li: a(href="#") ПАО "Газпром добыча Ямбург”
						li: a(href="#") ПАО "Газпром добыча шельф Южно-Сахалинск”
				.col-lg-3
					+e.title Генподрядные строительные организации:
					+e.UL.links--1
						li: a(href="#") Газстройпром
						li: a(href="#") Стройгазмонтаж
						li: a(href="#") СтройТрансНефтеГаз
	// end sMembers