extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sTargets/_sTargets.pug
include ../blocks/sControll/_sControll.pug
include ../blocks/sContract/_sContract.pug
include ../blocks/sMembers/_sMembers.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sNewsCat/_sNewsCat.pug
include ../blocks/sPress/_sPress.pug
include ../blocks/sMedia/_sMedia.pug
include ../blocks/sLogoes/_sLogoes.pug
include ../blocks/sEducation/_sEducation.pug
include ../blocks/sAdd/_sAdd.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sArticle/_sArticle.pug
include ../blocks/sMembership/_sMembership.pug
include ../blocks/sMaterials/_sMaterials.pug
include ../blocks/sPersonalCab/_sPersonalCab.pug
include ../blocks/sReportness/_sReportness.pug

block variables
	- let  mainPage= ''
	- let  bg='018.png'

block title
	- let  title= '010'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav({
			isLogged: true,
		})
	+b.page-head
		.container
			+breadcrumb('АСОГО', 'Личный кабинет')
	+sPersonalCab()
		+b.sFeedBack
			.container
				+e.title Задайте вопрос нашим специалистам
				+form-wrap()
					+e.row.row
						.col-lg-4
							+input('Ваше ФИО', 'text', 'Ваше ФИО')(value="Голоборотьков Виктор Александрович ")
						.col-lg-4
							+input('Email', 'email', 'E-mail (туда мы пришлем ответ)')(value="sample@sample.com")
						.col-lg-4
							+input('Обучение', 'select', 'Выберите направление')
						.col-12
							+input('Введите', 'textarea', 'Ваш вопрос')
					+e.btn(type="submit") Отправить
	+footer()(class="has-bt")