mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+pic('headerBlock-img-2.jpg')(class="headerBlock__bg")
		.container
			+b.section-title.split-js
				h1 Ассоциация  строительных организаций газовой отрасли
			+targets()(class="target--white")

	// end headerBlock