mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section.pt-0#sAbout&attributes(attributes)
		.container
			+b.section-title
				h1 Об Ассоциации
				p Ассоциация строительных организаций газовой отрасли зарегистрирована 28 февраля 2017 года и является некоммерческой корпоративной организацией, основанной на добровольном членстве юридических лиц
	// end sAbout