extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sTargets/_sTargets.pug
include ../blocks/sControll/_sControll.pug
include ../blocks/sContract/_sContract.pug
include ../blocks/sMembers/_sMembers.pug
include ../blocks/sOrganisations/_sOrganisations.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sCert/_sCert.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sPartner/_sPartner.pug

block variables
	- let  mainPage= 'main-page'
	- let  bg='index.png'

block title
	- let  title= 'title'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
	.animate-wrap
		+headerBlock()
		+sMembers({
			addClasses: 'sMembers--alt',
			bg: true,
		}).bg-primary.panel-animate
		+sOrganisations().bg-primary.panel-animate
	+sNews()
	+sCert()
	+sPartner({})(class="bg-blue")
	+footer()