// start .sContent
.sContent {
	line-height: 1.7;

	font-size: rem(16);
	@include media-breakpoint-up(md){
		font-size: rem(20);
	}
	color: $gray-710;


	h6{
		line-height: 1.7;

		margin-bottom: rem(20);
		@include media-breakpoint-up(md){
			margin-bottom: rem(24);
		}
		font-size: rem(20);
		@include media-breakpoint-up(lg){
			font-size: rem(24);
			margin-bottom: rem(32);
		}
		@include media-breakpoint-up(base){
			//margin-bottom: rem(38);
		}

		color: $black;
	}
	p{
		line-height: 1.7;

		margin-bottom: rem(24);
		@include media-breakpoint-up(md){
			margin-bottom: rem(32);
		}
		@include media-breakpoint-up(lg){
			margin-bottom: rem(48);
		}
	}
	ul{
		@extend .default-ul;

		margin: 0 0 rem(24);
		@include media-breakpoint-up(md){
			margin: 0 0 rem(32);
		}
		@include media-breakpoint-up(lg){
			margin: 0 0 rem(48);
			max-width: 99%;
		}

	}
} // end.sContent