mixin sPartner(data)
	// start sPartner
	+b.SECTION.sPartner.section#sPartner&attributes(attributes)
		.container
			+b.section-title
				h1 Партнеры
			+e.row.row.align-items-center.gy-3
				.col-lg-6.col-base-4
					+e.txt
						p АО «Мессояханефтегаз» – совместное предприятие ПАО «Газпром нефть» и ПАО «НК «Роснефть», которому принадлежат лицензии на разведку и разработку группы
				.col-lg-auto.offset-base-1
					+e.btn(href="#") Стать партнером
			+e.UL.partners-list
				li: a(href="#") ПАО "Газпром"
				li: a(href="#") АО "Газпром Промгаз"
				li: a(href="#") ООО «Газпром ВНИИГАЗ»
				li: a(href="#") РГУ нефти и газа (НИУ) имени И.М. Губкина
				li: a(href="#") ЧОУ ДПО «Газпром корпоративный институт»
				li: a(href="#") ФГБУ ВНИИПО МЧС РФ
				li: a(href="#") Фонд инфраструктурных и образовательных программ (РОСНАНО)
				li: a(href="#") ООО "МНТЦ СТРОЙНЕФТЕГАЗ"
				li: a(href="#") ООО «ППП Искусственные сооружения»
				li: a(href="#") ООО "Газтрубопроводстрой"
				li: a(href="#") 11	ООО "НПП Машиностроение"
				li: a(href="#") АО "Гипрокислород"
				li: a(href="#") АНО "Агенство исследований промышленных рисков"
				li: a(href="#") ООО "Эксиком"
				li: a(href="#") ТК 023 «Нефтяная и газовая промышленность»
				li: a(href="#") ПК 6/ТК 023 «Оборудование, материалы для добычи и переработки нефти и газа»
				li: a(href="#") ПК 1/ТК 023 «Общеотраслевые нормы и правила»
				li: a(href="#") ПК 10/ТК 023 "Строительство и капитальный ремонт объектов нефтяной и газовой промышленности"
				li: a(href="#") ПК 5/ТК 465 «Управление жизненным циклом объектов капитального строительства»
				li: a(href="#") РГ по техническому регулированию в строительстве, созданная при Комитете РСПП по техническому регулированию, стандартизации и оценке соответствия
				li: a(href="#") Журнал «Газовая промышленность»
				li: a(href="#") ООО "Медиа Миры"
	// end sPartner