mixin sAdmition(data)
	// start sAdmition
	+b.SECTION.sAdmition.section.pt-0#sAdmition&attributes(attributes)
		.container
			+b.section-title
				h1 Признание компетентности
			+e.row.row
				.col-lg-8
					+e.content
						h6 Признание компетентности экспертов
						p Центральный орган Системы по направлению «Строительные материалы, работы (услуги)» осуществляет процедуру признания компетентности экспертов по признанию компетентности органов по сертификации, испытательных лабораторий, учебных центров и экспертов по сертификации продукции, работ (услуг). Порядок признания компетентности экспертов, а также установленные к ним требования и формы основных документов приведены в документах СДС ИНТЕРГАЗСЕРТ:
						ul
							li ОГН0.RU.0119 «Система добровольной сертификации ИНТЕРГАЗСЕРТ. Требования к экспертам»;
							li ОГН0.RU.0120 «Система добровольной сертификации ИНТЕРГАЗСЕРТ. Порядок аттестации экспертов»;
							li ОГН0.RU.0129 «Система добровольной сертификации ИНТЕРГАЗСЕРТ. Формы основных документов, применяемых в Системе»
						h6 Признание компетентности органов по сертификации, лабораторий, учебных центров, консалтинговых организаций и инспекционных органов
						p Центральный орган Системы по направлению “Строительные материалы, работы (услуги) осуществляет процедуру признания компетентности органов по сертификации, лабораторий, учебных центров, консалтинговых организаций и инспекционных органов.Порядок признания компетентности участников системы и формы основных документов приведены в документах СДС ИНТЕРГАЗСЕРТ:
						ul
							li ОГН0.RU.0114 «Система добровольной сертификации ИНТЕРГАЗСЕРТ. Признание компетентности органов по сертификации. Основные положения и порядок проведения»;
							li ОГН0.RU.0115 «Система добровольной сертификации ИНТЕРГАЗСЕРТ. Признание компетентности испытательных лабораторий (центров). Основные положения и порядок проведения»;
							li ОГН0.RU.0116 «Система добровольной сертификации ИНТЕРГАЗСЕРТ. Признание компетентности учебных центров. Основные положения и порядок проведения»;
							li ОГН0.RU.0117 «Система добровольной сертификации ИНТЕРГАЗСЕРТ. Признание компетентности консалтинговых организаций. Основные положения и порядок проведения»;
							li ОГН0.RU.0118 «Система добровольной сертификации ИНТЕРГАЗСЕРТ. Признание компетентности инспекционных органов. Основные положения и порядок проведения».
							li ОГН0.RU.0129 «Система добровольной сертификации ИНТЕРГАЗСЕРТ. Формы основных документов, применяемых в Системе».
					+e.gray-box
						+e.g-title Подача заявки
						+e.g-row.row
							+sAdmitionGItem('globe', 'Подача заявки осуществляется на сайте', 'intergazcert.ru')(href="intergazcert.ru" target="_blank")
						+e.g-title По вопросам подтверждения компетенции и сертификации
						+e.g-row.row
							+sAdmitionGItem('tell', 'По вопросам сертификации', '8(495) 369-12-24')
							+sAdmitionGItem('mail', 'По всем вопросам', 'asogo@asogo.ru')(href="mailto:asogo@asogo.ru")
				.col-lg-4.order-first.order-lg-0
					+b.adm-filter--js
						+e.btn.d-lg-none.adm-filter-btn-js
							+sAdmitionFilterItem(3, 'Признание компетентности', true)
						+e.items.adm-filter-items-js
							+sAdmitionFilterItem(1, 'Структура Системы')(href="#")
							+sAdmitionFilterItem(2, 'Объекты сертификации')(href="#")
							+sAdmitionFilterItem(3, 'Признание компетентности')(class="active")
							+sAdmitionFilterItem(4, 'Сертификация')(href="#")
							+sAdmitionFilterItem(5, 'Реестр свидетельств и сертификатов')(href="#")
	// end sAdmition

mixin sAdmitionGItem(iconName, gray, txt)
	.col-md-6
		+e.g-item
			+e.g-sub-row.row
				+e.g-col--icon.col-auto
					+icon(iconName)
				+e.g-col--txt.col
					+e.gray=gray
					+e.txt&attributes(attributes)=txt

mixin sAdmitionFilterItem(imgNum, txt, chevronDown)
	+e.item&attributes(attributes)
		+e.i-row.row.align-items-center
			+e.col--img.col-auto
				img(loading="lazy" src=`img/svg/sAdmitionItem-${imgNum}.svg` alt="")
			+e.col--txt.col=txt
			if chevronDown
				+e.col--ch.col-auto
					+icon('chevron-down')