// start .sAdd
.sAdd {
	--sPT: #{rem(24)};
	--sPB: #{rem(10)};
	--sTPB: #{rem(30)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(31)};
		--sPB: #{rem(15)};
		--sTPB: #{rem(40)};
	}
	@include media-breakpoint-up(xl) {
		--sPT: #{rem(56)};
		--sPB: #{rem(50)};
		--sTPB: #{rem(40)};
	}

	//
	&__row{

	}
	&__content{
		font-size: rem(16);
		@include media-breakpoint-up(lg){
			font-size: rem(20);
		}
		line-height: 1.7;
		color: $black;


		h6{
			line-height: 1.7;
			color: $black;

			margin-bottom: rem(24);
			@include media-breakpoint-up(md){
				margin-bottom: rem(34);
			}
			font-size: rem(20);
			@include media-breakpoint-up(lg){
				font-size: rem(24);
			}
		}

		p{

			@include media-breakpoint-up(lg){
				max-width: rem(576);
			}
		}
		ul{
			@extend .default-ul;
			max-width: rem(924);

			margin: 0 0 rem(24);
			@include media-breakpoint-up(md){
				margin: 0 0 rem(34);
			}

			li{
				margin-bottom: rem(12) !important;
				@include media-breakpoint-up(lg){
					margin-bottom: rem(12) !important;
				}
			}
		}
	}
	//
	&__gray-box{
		background: $gray-200;

		padding: rem(30) rem(16);
		@include media-breakpoint-up(sm){
			padding: rem(32) rem(24);
		}
		@include media-breakpoint-up(base){
			padding: rem(36) rem(48) rem(48);
			position: relative;
			left: -8px;
		}
	}
	&__g-top{
		font-weight: 500;

		font-size: rem(16);
		margin-bottom: rem(24);
		@include media-breakpoint-up(lg){
			font-size: rem(18);
			margin-bottom: rem(37);
		}
		@include media-breakpoint-up(base){
			font-size: rem(20);
		}
		line-height: 1.7;

		a{
			color: $primary;
		}
	}
	&__g-title{
		font-size: rem(16);
		@include media-breakpoint-up(md){
			font-size: rem(20);
		}
		@include media-breakpoint-up(base){
			font-size: rem(24);
		}
		line-height: 1.7;
		margin-bottom: rem(16);
	}
	&__g-gray{
		font-size: rem(16);
		margin-bottom: rem(20);
		@include media-breakpoint-up(md){
			font-size: rem(20);
			margin-bottom: rem(26);
		}

		line-height: 1.7;
		color: $gray-710;
	}
	&__c-items{
		margin-bottom: rem(24);
		@include media-breakpoint-up(base){
			margin-bottom: rem(40);
			padding-left: 10px;
		}
	}
	&__c-item{
		display: block;

		margin-bottom: rem(20);
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__c-row{
		--bs-gutter-x: #{rem(18)};
	}
	&__c-col{
		&--icon{
			.icon{
				font-size: rem(13);
				color: $primary;
			}
		}
		&--txt{
			font-size: rem(14);
			@include media-breakpoint-up(lg){
				font-size: rem(16);
			}

			line-height: 1.7;
			color: $gray-710;
		}
	}
	&__download{
		@include media-breakpoint-up(base){
			padding-left: rem(6);
		}
	}
	&__d-item{
		display: block;

		font-size: rem(14);
		@include media-breakpoint-up(lg){
			font-size: rem(16);
		}
		line-height: 1.7;

		margin-bottom: rem(24);
	}
	&__d-row{
		--bs-gutter-x: #{rem(22)};
	}
	&__d-col{
		&--icon{
			width: calc(var(--bs-gutter-x) + #{rem(24)});
			img{
				width: 100%;
			}
		}
		&--txt{

		}
	}
	&__{}
	&__{}
} // end.sAdd