.top-nav {
	color: $white;
	background: $primary;
	padding: rem(49.5) 0;

	&__logo{
		display: block;
		width: rem(128);

		@include media-breakpoint-up(base){
			margin-right: 98px;
		}

		img{
			width: 100%;
			height: auto;
		}
	}
	//
	.menu{
		padding: 0;
		margin: 0;
		list-style: none;

		display: flex;
		align-items: center;
		flex-wrap: wrap;

		.menu-item{
			margin-right: rem(32);
			&:last-child{
				margin-right: 0;
			}

			a{
				color: $white;
				padding: rem(6) 0;
				white-space: nowrap;
				border-top: 1px solid transparent;

				border-bottom: 1px solid transparent;
				&:hover{
					border-bottom: 1px solid $white;
				}

			}
		}
	}
	&__btn{
		@extend .btn;
		@extend .btn-outline-white;

		display: flex;
		align-items: center;

		.icon{

		}
	}
	&__{}
	&__{}
}


