mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span

mixin mob-mnu()
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню

mixin top-nav(data)
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.container.container
			+e.row.row.align-items-center
				.col-auto.d-lg-none
					+menu-toggle()
				.col.col-lg-auto
					+e.logo(href="#")
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col.d-none.d-lg-block
					+mnu()
				if data && data.isLogged
					.col-auto
						//-+e.ig
						.input-group
							+e.btn--personal-cab(href="#")
								+icon('user')
								span.d-none.d-sm-inline Виктор А.
							+e.btn(href="#")
								span Выйти
				else
					.col-auto
						+e.btn(href="#")
							+icon('user')
							span Войти
	// end top-nav