.top-nav {
	@include mt();
	color: $white;
	background: var(--tn-bg, #{$primary});
	box-shadow: 0 0 10px 0 rgba($black, var(--tn-box-shdw-opacity, 0));

	//padding: rem(16) 0;
	//@include media-breakpoint-up(lg){
	//	padding: rem(20) 0;
	//}

	padding: var(--tn-pt, #{16px 0});
	@include media-breakpoint-up(base){
		padding: var(--tn-pt, 37.5px 0);
	}

	//-
	&__container{
		@include media-breakpoint-up(base){
			padding-right: calc(10px + #{$container-padding-x});
		}
	}

	&__row{
		--bs-gutter-x: #{rem(20)};
		@include media-breakpoint-up(sm){
			--bs-gutter-x: #{rem(24)};
		}
	}
	&__logo{
		display: block;

		width: var(--logo-size, #{rem(104)});
		@include media-breakpoint-up(lg){
			width: var(--logo-size, #{rem(128)});
		}

		@include media-breakpoint-up(xxl){
			margin-right: rem(30);
		}
		@include media-breakpoint-up(base){
			margin-right: rem(91);
		}

		img{
			width: 100%;
			height: auto;
		}
	}
	@include media-breakpoint-up(lg){
	.menu{
		max-width: 700px;
	}
	}

	//
		@include media-breakpoint-up(lg){
	.menu{
		padding: 0;
		margin: 0 0 rem(-4);
		list-style: none;

		display: flex;
		align-items: center;
		flex-wrap: wrap;

		.menu-item{
			margin-bottom: rem(4);

			margin-right: rem(24);
			@include media-breakpoint-up(xl){
				margin-right: rem(32.5);
			}
			&:last-child{
				margin-right: 0;
			}

			a{
				color: $white;
				padding: rem(6) 0;
				white-space: nowrap;
				border-top: 1px solid transparent;

				font-size: rem(14);
				line-height: calc(17/14);


				border-bottom: 1px solid transparent;
				&:hover{
					border-bottom: 1px solid $white;
				}

			}
		}
	}

	}
	//-
	&__ig{
		@include media-breakpoint-down(sm){
			& > *{
				border-radius: rem(4) !important;
			}
		}
	}
	&__btn{
		@extend .btn;
		@extend .btn-outline-white;
		border-radius: rem(4);
		padding: rem(7) rem(10);

		display: flex;
		align-items: center;
		.icon{
			flex-shrink: 0;
			//@include mt();
			font-size: rem(15);
			margin-right: rem(10);
			color: currentColor;
		}

		font-size: rem(14);
		line-height: calc(17/14);

		&--personal-cab{
			.icon{
				@include media-breakpoint-down(sm){
					margin-right: 0;
				}
			}
		}
	}
	&__{}
	&__{}
}


