mixin sTargets(data)
	// start sTargets
	+b.SECTION.sTargets.section#sTargets&attributes(attributes)
		.container
			+b.section-title
				h2 Цели создания Ассоциации
			+e.row.row
				+sTargetsItem(1)
					| Объединяем крупнейшие компании осуществляющие деятельность по строительству объектов газовой отрасли
				+sTargetsItem(2)
					| Координируем взаимодействие членов Ассоциации с партнерами по осуществлению строительной деятельности в газовой отрасли
				+sTargetsItem(3)
					| Содействуем членам Ассоциации во внедрении единых принципов организации производственных процессов в строительной деятельности газовой отрасли
				+sTargetsItem(4)
					|	Координируем деятельности членов Ассоциации с целью стандартизации и унификации применяемых технических решений и технологий
				+sTargetsItem(5)
					| Выполняем функции Центрального органа Системы добровольной сертификации ИНТЕРГАЗСЕРТ по направлению «Строительные материалы, работы (услуги)»
	// end sTargets

mixin sTargetsItem(imgNum)
	+e.col.col-md-4.col-xl-auto
		+e.item
			+e.img
				img(loading="lazy" src=`img/svg/sTargets-${imgNum}.svg` alt="")
			+e.content
				block