// start .sTargets
.sTargets {
	@include media-breakpoint-up(md) {
		--sPT: #{rem(44)};
		--sPB: #{rem(50)};
		--sTPB: #{rem(66)};
	}

	.section-title{
		h2{

		}
	}

	//-
	&__{}
	&__{}
} // end.sTargets

//-
.target{
	&--white{
		--img-fill-col: #{$white};
		--bb-col: #{rgba($white, .5)};
		--bb-col2: #{$white};

		@include media-breakpoint-up(md){
			padding-right: 4px;
		}
		@include media-breakpoint-up(lg){
			padding-right: 0;
		}
	}
	//-
	.swiper{
		overflow: visible!important;
	}
	.swiper-wrapper{

	}
	.swiper-slide{
		width: 264px;
		@include media-breakpoint-up(lg){
			width: 311px;
		}
		@include media-breakpoint-up(xl){
			width: calc(100%/5 - 16px *4/5);
		}
	}

	//-
	&__item{
		max-width: rem(229);
		@include media-breakpoint-up(sm){
			max-width: rem(249);
		}
	}
	&__img{
		& > *{
			width: rem(40);
			height: auto;
		}

		//-
		svg{
			path,rect,circle{
				fill: var(--img-fill-col, #{$primary})!important;
			}
		}

		position: relative;
		border-bottom: 1px solid var(--bb-col, #{rgba($blue2, .5)});
		padding-bottom: rem(31);

		margin-bottom: rem(20);
		@include media-breakpoint-up(lg){
			margin-bottom: rem(31);
		}

		&:after{
			content: '';
			position: absolute;
			left: 0;
			bottom: -1px;
			width: 40%;
			height: 1px;
			background-color: var(--bb-col2, #{$blue2});
		}

	}
	&__content{
		line-height: 1.75;
		@include media-breakpoint-up(sm){
			line-height: 1.7;
		}

		font-size: rem(14);
		@include media-breakpoint-up(lg){
			font-size: rem(16);
		}

		@include media-breakpoint-up(base){
			margin-right: rem(-15);
		}
	}
}