mixin sTargets(data)
	// start sTargets
	+b.SECTION.sTargets.section#sTargets&attributes(attributes)
		.container
			+b.section-title
				h2 Цели создания Ассоциации
			+targets()
	// end sTargets

mixin targets(data)
	+b.target&attributes(attributes)
		.swiper.target-slider-js
			.swiper-wrapper
				+sTargetsItem(1)
					| Объединяем крупнейшие компании осуществляющие деятельность по строительству объектов газовой отрасли
				+sTargetsItem(2)
					| Координируем взаимодействие членов Ассоциации с партнерами по осуществлению строительной деятельности в газовой отрасли
				+sTargetsItem(3)
					| Содействуем членам Ассоциации во внедрении единых принципов организации производственных процессов в строительной деятельности газовой отрасли
				+sTargetsItem(4)
					|  Координируем деятельности членов Ассоциации с целью стандартизации и унификации применяемых технических решений и технологий
				+sTargetsItem(5)
					| Выполняем функции Центрального органа Системы добровольной сертификации ИНТЕРГАЗСЕРТ по направлению «Строительные материалы, работы (услуги)»

mixin sTargetsItem(imgNum)
	.swiper-slide
		+e.item
			+e.img
				img.img-svg-js(loading="lazy" src=`img/svg/sTargets-${imgNum}.svg` alt="")
			+e.content
				block