mixin sCertification(data)
	// start sCertification
	+b.SECTION.sCertification.section.pt-0#sCertification&attributes(attributes)
		+e.container.container
			+b.section-title
				h1 Сертификация
			+e.row.row
				+sCertificationItem({
					addClasses: 'active',
					imgNum: 1,
					txt: 'Структура Системы',
				})
				+sCertificationItem({
					imgNum: 2,
					txt: 'Объекты сертификации',
				})
				+sCertificationItem({
					imgNum: 3,
					txt: 'Признание компетентности',
				})
				+sCertificationItem({
					imgNum: 4,
					txt: 'Сертификация',
				})
				+sCertificationItem({
					imgNum: 5,
					txt: 'Реестр свидетельств и сертификатов',
				})
			+e.title-row.row
				.col-lg-8
					+e.txt-box
						p СДС ИНТЕРГАЗСЕРТ создана ПАО «Газпром» приказом от 24 ноября 2016 г. №751 и зарегистрирована в едином реестре систем добровольной сертификации Федерального Агентства по техническому регулированию и метрологии (Росстандарт) под номером РОСС RU.З1570.04ОГН0.
						//for pixel perfect
						p.d-lg-none.mb-0 Система ИНТЕРГАЗСЕРТ функционирует для организации и проведения работ по добровольному подтверждению соответствия в форме добровольной сертификации продукции, процессов проектирования (включая изыскания), производства, строительства, монтажа, наладки, эксплуа
						p.d-none.d-lg-block Система ИНТЕРГАЗСЕРТ функционирует для организации и проведения работ по добровольному подтверждению соответствия в форме добровольной сертификации продукции, процессов проектирования (включая изыскания), производства, строительства, монтажа, наладки, эксплуатации (использования), хранения, перевозки (транспортирования), реализации и утилизации данной продукции, работ (услуг).
				.col-lg-4
					+e.gray-box
						+e.g-title Контактные данные
						+e.g-items.row
							//По вопросам подтверждения компетентности
							+sCertificationContactItem('tell', 'По вопросам сертификации', '8(495) 369-12-24')
							+sCertificationContactItem('tell', 'По вопросам сертификации', '8(495) 369-12-24', 'order-md-last order-lg-0')
							+sCertificationContactItem('mail', 'По всем вопросам', 'asogo@asogo.ru')(href="mailto:asogo@asogo.ru")
			.row
				.col-lg-8
					+e.content
						h2 Основные цели добровольной сертификации в Системе ИНТЕРГАЗСЕРТ
						ul
							li удостоверение соответствия объектов сертификации техническим регламентам, документам по стандартизации, условиям договоров;
							li подтверждение функциональных показателей, а также показателей качества продукции, представленных заявителем на сертификацию;
							li содействие приобретателям, в том числе потребителям, в компетентном выборе продукции, работ (услуг);
							li повышение конкурентоспособности продукции, работ (услуг) на российском и международном рынках;
							li создание условий для обеспечения свободного перемещения товаров по территории Российской Федерации, а также для осуществления международного экономического, научно-технического сотрудничества и международной торговли;
							li стимулирование технического, экономического прогресса;
							li защита потребителей от недобросовестности изготовителя (продавца, исполнителя, подрядчика).
						h2 Основные принципы добровольной сертификации в Системе ИНТЕРГАЗСЕРТ
						ul
							li единства системы и правил подтверждения компетентности;
							li единства применения требований нормативных документов при проведении сертификации;
							li доступности информации о порядке осуществления подтверждения соответствия заинтересованным лицам;
							li единства перечня форм и схем в отношении объектов сертификации, подлежащих добровольной сертификации;
							li согласованности с заявителем на сертификацию сроков осуществления добровольной сертификации и приемлемости затрат заявителя на сертификацию;
							li недопустимости принуждения к осуществлению добровольного подтверждения соответствия, в том числе в определенной системе добровольной сертификации;
							li недопустимости ограничения конкуренции при осуществлении сертификации;
							li независимости органов по сертификации от изготовителей, исполнителей и заказчиков, руководства ассоциаций изготовителей отраслей или корпораций;
							li недопустимости подмены обязательного подтверждения соответствия добровольной сертификацией;
							li применения добровольного подтверждения соответствия равным образом и в равной мере независимо от страны и/или места происхождения продукции, осуществления процессов проектирования (включая изыскания), производства, строительства, монтажа, наладки, эксплуатации, хранения, перевозки, реализации и утилизации, выполнения работ и оказания услуг, видов или особенностей сделок и/или лиц, которые являются изготовителями, исполнителями, продавцами, приобретателями;
							li защиты имущественных интересов заявителей, соблюдения коммерческой тайны в отношении сведений, полученных при осуществлении подтверждения соответствия.
						p Правила функционирования СДС ИНТЕРГАЗСЕРТ приведены в документе ОГН0.RU.0101 «Система добровольной сертификации ИНТЕРГАЗСЕРТ. Правила функционирования системы добровольной сертификации ИНТЕРГАЗСЕРТ».
	// end sCertification

mixin sCertificationContactItem(iconName, title, txt, colClasses='')
	.col-md-6.col-lg-12(class=colClasses)
		+e.g-item
			+e.g-row.row
				+e.g-col--icon.col-auto
					+icon(iconName)
				+e.g-col--txt.col
					+e.gray=title
					+e.g-txt&attributes(attributes)=txt

mixin sCertificationItem(data)
	+e.col.col-md
		+e.item(href="#" class=`${data.addClasses || ''}`)
			+e.i-row.row.align-items-center.flex-nowrap.justify-content-md-center
				+e.i-col--icon.col-auto
					img(loading="lazy" src=`img/svg/sCertificationItem-${data.imgNum}.svg` alt="")
				+e.i-col--txt.col=data.txt