mixin sMembership(data)
	// start sMembership
	+b.SECTION.sMembership.section.pt-0#sMembership&attributes(attributes)
		.container
			+b.section-title
				h1 Членство
				h2 Порядок вступления
				p Разнообразный и богатый опыт консультация с профессионалами из IT обеспечивает актуальность системы обучения кадров, соответствующей насущным потребностям. Разнообразный и богатый опыт повышение уровня гражданского сознания напрямую зависит от всесторонне сбалансированных нововведений. С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу специалистов участие в формировании соответствующих условий активизации.
				p Дорогие друзья, постоянное информационно-техническое обеспечение нашей деятельности способствует повышению актуальности позиций, занимаемых участниками в отношении поставленных задач?
	// end sMembership