mixin sMembership(data)
	// start sMembership
	+b.SECTION.sMembership.section.pt-0#sMembership&attributes(attributes)
		.container
			+b.section-title
				h1 Членство
				h2 Порядок вступления
				p Членами Ассоциации являются юридические лица, осуществляющие деятельность в области строительства и ТОиР объектов газовой отрасли, компании — разработчики и производители технологии в строительстве, инжиниринговые компании, специализирующиеся в области оказания услуг в строительстве, включая разработку типовых проектных решений, строительных конструкций и изделий.
				p Прием нового члена в Ассоциацию осуществляется на основании его заявления, направленного Исполнительному директору. После получения заявления Исполнительный директор запрашивает у кандидата на вступление в Ассоциацию документы и сведения, необходимые для принятия решения о приеме в члены Ассоциации, осуществляет проверку  полноты и достоверности сведений, содержащихся в представленных документах. По результатам проверки Исполнительный директор  инициирует рассмотрение вопроса о приеме нового члена в Ассоциацию на  Общем собрании.
				p Решение о приеме нового члена в Ассоциацию принимается Общим собранием не позднее 3 (трех) месяцев с момента подачи заявления.
				p Дорогие друзья, постоянное информационно-техническое обеспечение нашей деятельности способствует повышению актуальности позиций, занимаемых участниками в отношении поставленных задач?
	// end sMembership