mixin sArticle(data)
	// start sArticle
	+b.sArticle.section.pt-0#sArticle&attributes(attributes)
		.container
			+e.row.row
				.col-lg-8.col-base-7
					+e.content
						img(loading="lazy" src="img/@2x/sArticle.jpg" alt="")
						h4 Подзаголовок в статье
						p Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. Задача — определить, будет ли новый потенциальный клиент вовремя вносить платежи. По каждому клиенту банк обладает совокупностью определенных черт/признаков: пол, возраст, ежемесячный доход, профессия, место проживания, образование и пр. В числе характеристик могут быть
						ul
							li и слабоструктурированные параметры, такие как данные
							li из соцсетей или история покупок. Кроме того, данные можно
							li обогатить информацией из внешних источников: курсы валют,
							li данные кредитных бюро и т. п.
							li любого клиента как совокупность признаков
							li на практике в рамках подобной задачи Data Scientist работает с более
						+e.quote
							+e.q-row.row
								+e.col--img.col-md-auto
									+e.img
										img(loading="lazy" src="img/@2x/sArticle-img.png" alt="")
								+e.col--txt.col-md
									p Цитата в тексте для наглядности отображенмия Наука и практика анализа больших объемов данных с помощью всевозможных математических методов, в том числе машинного Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. Задача — определить, будет ли новый потенциаль
									p Виктор Головобородов, Газпром
				.col-lg-4.col-base-3.offset-base-2.d-none.d-lg-block.ps-base-0
					+e.intresting Может быть интересно
					+e.items
						+sNewsSlide('Обучение специалистов служб контроля качества подрядных организаций в 2021 году')
	// end sArticle