// start .sArticle
.sArticle {
	--sPT: #{rem(30)};
	--sPB: #{rem(30)};
	--sTPB: #{rem(30)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(45)};
		--sPB: #{rem(33)};
		--sTPB: #{rem(40)};
	}
	@include media-breakpoint-up(xl) {
		--sPT: #{rem(45)};
		--sPB: #{rem(91)};
		--sTPB: #{rem(40)};
	}

	&__row{

	}
	&__content{
		@include media-breakpoint-up(base){
			max-width: 99%;
		}
		img{
			border-radius: rem(4);
			width: 100%;
			height: auto;

			margin-bottom: rem(24);
			@include media-breakpoint-up(md){
				margin-bottom: rem(32);
			}
			@include media-breakpoint-up(lg){
				margin-bottom: rem(40);
			}
		}
		h4{
			font-size: rem(20);
			@include media-breakpoint-up(lg){
				font-size: rem(24);
			}

			margin-bottom: rem(24);
			line-height: 1.7;
			color: $gray-910;
		}
		p{
			font-size: rem(16);
			@include media-breakpoint-up(lg){
				font-size: rem(20);
			}
			line-height: 1.7;
			color: rgba($black, .8);

			margin-bottom: rem(24);
			@include media-breakpoint-up(md){
				margin-bottom: rem(40);
			}
		}
		ul{
			@extend .default-ul;
			line-height: 1.7;
			color: $gray-710;

			margin: 0 0 rem(34);
			@include media-breakpoint-up(md){
				margin: 0 0 rem(38);
			}
			font-size: rem(16);
			@include media-breakpoint-up(lg){
				font-size: rem(20);
				margin: 0 0 rem(40);
			}
		}
	}

	//
	&__quote{
		background: $input-bg;
		padding: rem(24) rem(13) rem(19) rem(24);
		@include media-breakpoint-up(md){
			padding: rem(40) rem(37) rem(40) rem(40);
		}
	}
	&__q-row{
		--bs-gutter-x: #{rem(32)};
		--bs-gutter-y: #{rem(32)};
	}
	&__img{
		width: rem(95);
		height: rem(95);
		border-radius: 50%;
		overflow: hidden;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	//-
	&__col{
		&--img{

		}
		&--txt{
			p:not(:last-child){
				font-weight: 500;
				font-size: rem(16);
				@include media-breakpoint-up(lg){
					font-size: rem(20);
				}

				margin-bottom: rem(32);
				line-height: 1.7;
				color: $gray-710;
			}
			p:last-child{
				font-size: 14px;
				line-height: 1.6;
				@include media-breakpoint-up(lg){
					font-size: rem(16);
					line-height: 1.7;
				}

				margin-bottom: 0;

				color: rgba($gray-910, .8);
			}
		}
	}
	//-
	&__intresting{
		font-size: rem(24);
		line-height: 1.7;
		color: $gray-910;
		margin-bottom: rem(38);
	}
	&__{}
	&__{}
} // end.sArticle