-
	var nav= { 
		"Об АСОГО":"#",
		"Новости":"#",
		"Пресс-центр":"#",
		"Членство":"#",
		"Сертификация":"#",
		"Партнеры":"#",
		"Обучение":"#",
		"Контакты":"#",
	}
//- WP menu
mixin mnu()
	ul.menu
		each linkPatch, linkName in nav
			li.menu-item: a(href=linkPatch)=linkName
//- menu